<!DOCTYPE html>
<html>
	<head>
		<title>Vue JS</title>
		<script type="text/javascript" src="vue.js"></script>
		
	</head>
	<body>
		<div id="root">
			<a :class="{'active':activelink=='link1'}" :title="link1.title" :href="link1.url">{{link1.title}}</a>
			<div v-html="lol"></div>
			<ul>
				<li  v-for="(l,i) in lo">
					<p @click="remove(i)" >{{i}}{{l}}</p>
				</li>
			</ul>
			<input type="text" v-model="newdata">
			<button @click="add_data()">Add</button>

			<ul>
				<li  v-for="(p,i) in unpaid">
					<p>{{i}}{{p.service}} {{p.amount}}</p>
				</li>
			</ul>
			{{totalAmount}}
		</div>

	</body>
	<footer>
		<script type="text/javascript" src="app.js"></script>
	</footer>
</html>